* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-image: url('../img/backgrounds/background.png');
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 28px;
  color: #424242;
}

.concept-window, .password-window {
  border: 3px solid #424242;;
  padding: 40px;
  background-color: #ffffff;
}

.concept-window {
  width: 750px;
  background-image: url('../img/backgrounds/concept-window.png');
  background-position: center;
  background-repeat: no-repeat;
}

.name-window {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.concept-window p {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 10px;
}

.button-window {
  border: 1px solid #424242;
  border-radius: 3px;
  width: 300px;
  padding: 15px;
  background-color: white;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  cursor: pointer;
}

.button-window:hover {
  background-color: #f1f1f1;
}

.password-window, .type-password-window {
  width: 500px;
  text-align: center;
  background-image: url('../img/backgrounds/password-window.png');
  background-position: center;
  background-repeat: no-repeat;
}

#input-password {
  height: 40px;
  padding: 10px;
}

.type-password-window {
  position: absolute;
  display: flex;
  align-items: center;
  height: 200px;
  width: 350px;
  left: calc((100% - 350px) / 2);
  top: 190px;
  background-color: #ffffff;
  border: 2px solid #424242;
}

.type-password-window p {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.invalid {
  border: 1px solid red;
}

.messanger {
  display: flex;
  flex-direction: column;
  width: 1000px;
  min-height: 600px;
  max-height: 600px;
  border: 3px solid #424242;
  background-image: url('../img/backgrounds/theme3.png');
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
}

.display-messages {
  overflow: auto;
  padding-right: 40px;
  padding-left: 40px;
  min-height: 300px;
  padding-top: 10px;
  margin: 0;
}

.input-field {
  position: relative;
  width: 100%;
  height: 110px;
  margin-top: auto;
}

#input-text {
  width: 100%;
  height: 100%;
  padding: 15px 80px 15px 20px;
  border: none;
  border-top: 2px solid #424242;
}

.message {
  position: relative;
  border: 1px solid rgb(246, 253, 231);
  border-radius: 15px;
  padding: 20px;
  margin-right: 0;
  background-color: rgb(246, 253, 231);
  width: 100%;
  max-width: 500px;
  margin-left: calc(1000px - 500px - 40px * 2);
  margin-bottom: 10px;
}

.message:first-child {
  max-width: 600px;
}

.bot {
  position: relative;
  border: 1px solid rgb(255, 243, 232);
  margin-left: 0;
  margin-right: auto;
  background-color: rgb(255, 243, 232);
  margin-right: calc(1000px - 500px - 40px * 2);;
  margin-bottom: 10px;
}

.attachment-favorite {
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 0.5px solid #adadad;
}

#button-select {
  position: absolute;
  z-index: -1;
}

.sidebar {
  border: 1px solid;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  margin-right: 10px;
  margin-left: 0;
  cursor: pointer;
  background-position: center;
  background-size: 25px;
  background-repeat: no-repeat;
}

#alert {
  position: absolute;
  top: 20px;
  background-color: red;
}

input {
  width: 100%;
}

#list-users {
  border: 2px solid;
  border-right: none;
  width: 300px;
  height: 300px;
  padding: 10px;
  margin-top: 15px;
  overflow: auto;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.item-user {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.item-img-user {
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 15px;
  margin-right: 10px;
}

.item-name-user.active {
  color: #ff0000;
}

.messanger-list {
  border: 1px solid;
  padding: 10px;
  width: 500px;
  border-radius: 15px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#list-msg {
  height: 100%;
  overflow: auto;
  padding: 0;
  padding-right: 15px;
}

.list-item-msg {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #000000;
}

.list-item-msg.active {
  align-items: flex-end;
}

.active > .list-item-head {
  color: #ff0000;
}

.item-msg {
  display: flex;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 20px;
  position: relative;
}

.item-msg::before {
  content: "";
  width: 15px;
  height: 100%;
  border-left: 1px solid;
  border-right: 1px solid;
  position: absolute;
  left: -43px;
  top: 35px;
}

.item-msg::after {
  content: "";
  width: 30px;
  height: 30px;
  border: 1px solid;
  border-radius: 30px;
  position: absolute;
  left: -50px;
  top: 10px;
  background-color: #ffffff;
}

.l-block {
  width: 100%;
}

.mini-video {
  width: 200px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.r-block {
  width: 161px;
  margin-left: 15px;
}

.audio-video {
  position: absolute;
  display: flex;
  bottom: 0;
  right: 0;
  height: 100%;
  align-items: center;
}

#audio {
  background-image: url("../img/audio.png");
}

#audio:hover {
  background-image: url("../img/audio-hover.png");
}

#video {
  background-image: url("../img/camera.png");
}

#video:hover {
  background-image: url("../img/camera-hover.png");
}

.geo-tag {
  background-image: url("../img/geo.png");
}

.geo-tag:hover {
  background-image: url("../img/geo-hover.png");
}

.favorite {
  border: none;
  background-image: url("../img/favorite.png");
}

.favorite:hover {
  border: none;
  background-image: url("../img/favorite-hover.png");
}

.attachment {
  border: none;
  background-image: url("../img/attachment.png");
}

.attachment:hover {
  background-image: url("../img/attachment-hover.png");
}

.download {
  background-image: url("../img/download.png");
  border: none;
  background-size: 30px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 15px;
}

.download:hover {
  background-image: url("../img/download-hover.png");
}

.document {
  background-image: url("../img/document.png");
  width: 90px;
  height: 100px;
  margin-right: 10px;
  /* cursor: pointer; */
  background-position: center;
  /* background-size: 25px; */
  background-repeat: no-repeat;
}

.document:hover {
  background-image: url("../img/document-hover.png");
}

#save {
  background-image: url("../img/save.png");
}

#save:hover {
  background-image: url("../img/save-hover.png");
}

#cancel {
  background-image: url("../img/cancel.png");
}

#cancel:hover {
  background-image: url("../img/cancel-hover.png");
}

#timer {
  margin-right: 10px;
}

.record-on {
  display: flex;
}

.record-off {
  display: flex;
  align-items: center;
}

.popup-window {
  position: absolute;
  border: 2px solid;
  width: 400px;
  padding: 10px;
  top: 20px;
  left: 20px;
  background-color: yellow;
}

.popup-input {
  width: 100%;
}

.popup-buttons {
  display: flex;
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
}

.button {
  border: 1px solid;
  border-radius: 15px;
  padding: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.message img,
.message video {
  width: 70%;
}

.footer-msg {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hidden {
  display: none;
}

.date-time {
  font-size: large;
  color: darkmagenta;
}
